<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Semi Restful </title>

    <style>
    
    tr td {
        border-right: 1px solid;
    }
    
    tr th {
        border-bottom: 1px solid;
    }

    </style>

</head>
<body>
        <div class="container">
                <h2>Users</h2>
                  <table style="border: 1px solid black">
                      <tr>
                        <th >Id</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Created At</th>
                        <th>Actions</th>
                        </tr>
                        <tbody >
                            {% for user in users %}
                            <tr >
                                <td> {{user.id}}</td>
                                <td>{{user.first_name}} {{user.last_name}} </td>
                                <td> {{user.email}}</td>
                                <td>{{user.created_at}}</td>
                                <td >
                                    <a href="/users/{{user.id}}">Show</a>
                                    <a href="/users/{{user.id}}/edit">edit</a>
                                    <a href="/users/{{user.id}}/destory">delete</a>      
                                </td>
                            </tr>
                            {% endfor%}
                        </tbody>
                  </table>
                  <br><br>
                  <div><a href="users/new">add a new user</a></div>

        </div>
</body>
</html>